$TTL 86400
@   IN  SOA     masterdns.rits.local. root.rits.local. (
        2020082501  ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        86400       ;Minimum TTL
)
@       IN  NS          masterdns.rits.local.
@       IN  A           {{ansible_host}}
@       IN  A           192.168.0.104
@       IN  A           192.168.0.105
masterdns       IN  A   {{ansible_host}}
two    IN  A   192.168.0.104
three          IN  A   192.168.0.105
*.two       IN  CNAME       two
*.three       IN  CNAME       three
